.DropDown {
	display: flex;
	flex-direction: column;
	transition: height 0.2s ease;

	&>* {
		flex-basis: 0px;
		flex-shrink: 1;
		flex-grow: 0;
		overflow: hidden;
		transition: flex-grow 0.2s ease;
		&.--selected_item {
			flex-grow: 1;
			flex-shrink: 0;
		}
	}

	&.--drop_down_open {
		border-bottom: none;
		transition: height 0.2s ease;
		&>* { 
			flex-grow: 1;
			transition: flex-grow 0.5s ease; 
		}
	}
}