$height: 2.25em;

div.Topbar {
	position: sticky;
	top: 0px;
	left: 0px;
	height: $height;
	display: flex;
	align-items: flex-start;
	padding: 0px 1.5em;
	margin-right: auto;
	width: fit-content;
	background: linear-gradient(#4A4A4A 1px, #333 3px);
	border-style: solid;
	border-color: #222;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 30%);
	border-width: 0px 3px 3px 0px;
	border-top-right-radius: 0.5em;
  border-bottom-right-radius: 2em;
	z-index: 5;
	margin-bottom: -$height;
	padding-top: 0.05em;
	font-weight: bolder;
	letter-spacing: normal;

	&>a {
		color: #FAFAFA;
    margin-right: 1.5em;
    transition: 0.3s ease;
		transition-property: background, border-width, border-color;
		border-radius: 0.75em;
    padding: 1.5px 3px;
		text-decoration: none;

		&:hover {
			background: #FFF1;
		}

		&.--selected {
			background: transparent;
			border-bottom: 3px solid #deab71;//#FF5722;
		}
	}

	&>.Contact {
		color: #333;
		line-height: 25px;
		// font-size: 20px;
		// font-family: -apple-system;
		// position: absolute;
		// right: 20px;
		// top: 4px;
		background: linear-gradient(#FFCD64, #F7B256 3px, #AC6225);
		// font-size: inherit;
		border: 2px solid #222;
		padding: 1px 7px;
		border-radius: 10px;
		// margin-top: 4px;
		// margin-right: 0px;
	}
}
