/*body, html {
	min-height: 100vh;
	// min-width: 100vw;
	margin: 0px;
	padding: 0px;
}

@keyframes expand-width {
  0% { width: 0%; }
  100% { width: 100%; }
}

body {
	position: relative;
	box-sizing: border-box;
	background: black;
	color: white;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 100;
}

body>.LoadingBar {
	position: fixed;
	font-family: arial;
	top: 25px;
	left: 25px;
	right: 25px;
	transition: opacity 0.2s ease-in;
	opacity: 0;
	pointer-events: none;
}

	body>.LoadingBar>.Loading, body>.LoadingBar>.Welcome {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	body>.LoadingBar>.Loading { 
		display: none; 
		color: #888;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		
	}
		

		body>.LoadingBar>.Loading>.Dots {
			display: inline-block;
			width: 100%;
			border-bottom: dotted 3px;
			animation: 10s linear forwards expand-width;
		}

	body>#AppWrapper {
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}

body.--is_thrashing > #AppWrapper { opacity: 0; }

body.--is_thrashing > .LoadingBar { opacity: 1; }
	body.--is_thrashing > .LoadingBar >.Loading { display: block; }
	body.--is_thrashing > .LoadingBar >.Welcome { display: none; }
		

body.--skip_animations > #AppWrapper * {
	animation-duration: 0s !important;
	transition: none !important;
}

*, *::before, *::after {
	box-sizing: inherit;
}*/