


div.EventFilter {
	// background: linear-gradient(#75393c, #5F292C 6px);
	background: linear-gradient(#6d4656, #3f1e2b 6px);
	color: white;
	border-bottom: 0.5em black solid;

	&>.Info {
		text-align: center;
		// font-style: italic;
		font-size: 1.25em;
	}

	&>.FilterButtons {
		display: flex;
		justify-content: center;

		&>.FilterButton {
			position: relative;
			height: 10em;
			width: 10em;
			background: white;
			border: 3px solid black;

			// font-size: 1.5em;
			line-height: 2em;
			text-align: center;
			// height: 200px;
			// width: 200px;
			display: inline-block;
			margin: .75em;
			background-color: #333;
			border-radius: 1.2em;
			border: 2px #222 solid;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2),
					-1px -1px 4px rgba(255, 255, 255, 0.1),
					inset -1px -1px 4px rgba(0, 0, 0, 0.2),
					inset 1px 1px 4px rgba(255, 255, 255, 0.1);


			&:hover, &.--selected {
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2),
				-1px -1px 4px rgba(255, 255, 255, 0.1),
				inset -1px -1px 4px rgba(255, 255, 255, 0.1),
				inset 1px 1px 4px rgba(0, 0, 0, 0.2);
				// left: -1px;
				top: 1px;
			}

			&.--selected {
				background-color: orange;
			}
		}
	}
}
