html, body {
	margin: 0px;
	padding: 0px;
	background: black;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.App {
	font-family: 'Tillium Web', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	width: 100vw;
	min-width: 100%;
	letter-spacing: 0.075em;
	// position: relative;

	&>.Background {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		// background: linear-gradient(to bottom right, #0c1b21, #1d0b1a);
		background: linear-gradient( #000000, #09171d);
		// bottom: 0px;

		// &>.Sticky {
		// 	position: sticky;
		// 	top: 0px;
		// 	left: 0px;
		// 	width: 100vw;
		// 	height: 100vh;

			&>* {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}

			&>.Hex, &>.HexGlow {
				background: url("/assets/img/raw/repeating-hex-horizontal.png");
				background-size: 2.5em;
				filter: invert(1);
				opacity: 0.35;
    		mix-blend-mode: soft-light;

				// animation: slide;
				// animation-duration: 40s;
				// animation-timing-function: steps(100);
				// animation-iteration-count: infinite;

				// @keyframes slide {
				// 	0% { background-position-x: 0em; }
				// 	100% { background-position-x: -2.5em; }
				// }
			}

			&>.Forest {
				// background: url("/assets/img/raw/casey-horner-forest-galaxy.jpg");
				background: url("/assets/img/raw/felix-wegerer-mountains-and-stars.jpg");
				background-size: cover;
				background-position: bottom center;
				// filter: blur(10px);
				opacity: 0.05;
			}

			// &>.HexGlow {
			// 	opacity: 1;
			// 	mix-blend-mode: unset;
			// 	-webkit-mask: radial-gradient(red, rgba(0,0,0,0.5) 20%, transparent 60%);
			// 	// -webkit-mask-position: 40px 40px;
			// 	-webkit-mask-size: 140px 140px;
			// 	-webkit-mask-repeat: no-repeat;
			// 	filter: saturate(100%);

			// 	// &>.CursorGradient {
			// 	// 	position: fixed;
			// 	// 	height: 10em;
			// 	// 	width: 10em;
			// 	// 	background: radial-gradient(red, transparent 50%);
			// 	// 	// background-size: 50% 50%;
			// 	// 	background-position: center center;
			// 	// 	background-repeat: no-repeat;
			// 	// 	transform: translate(-50%, -50%);
			// 	// 	mix-blend-mode: soft-light;
			// 	// 	mask-composite: intersect;
			// 	// }
			// }
		// }


	}

	&>.MainContent {
		position: relative;
		z-index: 1;
		&>.ExtraSpace {
			height: 0.5em;
			background: black;
		}
	}

	.onPush {
		cursor: pointer;
	}

	// .Tweener {
	// 	overflow: unset !important;
	// }
}
