

@font-face {
	font-family: 'Tillium Web';
	src:  url("/assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tillium Web';
	src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
}



@font-face {
	font-family: 'Tillium Web';
	src: url("/assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tillium Web';
	src: url("/assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf") format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Tillium Web';
	src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
}
