
body { font-size: 12px; }


@media (min-width: 300px) {
  body { font-size: 13px; }
}

@media (min-width: 400px) {
  body { font-size: 14px; }
}

@media (min-width: 800px) {
  body { font-size: 15px; }
}

@media (min-width: 1000px) {
  body { font-size: 17px; }
}

@media (min-width: 1200px) {
  body { font-size: 19px; }
}


.App {
	@media (max-width: 330px) {
		div.Header > .MainArea > .Foreground > .Name {
			flex-direction: column;
		}
	}

	@media (max-width: 400px) {
		div.Topbar {
			margin-right: unset;
			width: unset;
			border-radius: 0.5em;
			border-right: 0px;
			padding: 0px;
			&>a {
				margin: 0px 0.25em;
				flex-shrink: 0;
				flex-grow: 1;
				text-align: center;
			}
		}
	}
}
