div.WebPresencePage {
	// background: linear-gradient(#527b7a, #0b4745 6px);
	background: linear-gradient(#2d5554, #133736 6px);

	color: white;

	&>.Info {
		text-align: center;
		// font-style: italic;
		font-size: 1.25em;
	}

	// &>.ContactTitle {
	// 	height: 100px;
	// 	// background: var(--contactTitleBg);
	// 	font-size: 50px;
	// 	padding: 25px;
	// 	color: black;
	// }

	&>.Connections {
		padding: 1.5em 3vw 10em;
		&>.Connection {
			display: flex;
			align-items: center;
			overflow: hidden;

			&>svg {
				filter: drop-shadow(2px 4px 6px white);
				flex-basis: Min(7em, 20vw);
				flex-grow: 0;
				flex-shrink: 0;
				stroke: white;
				stroke-width: 1px;
				vector-effect: "non-scaling-stroke";
				margin: 1.2em;
				margin-left: 2vw;
				fill: transparent;
			}
			&>.Info {
				position: relative;
				overflow: hidden;
				&>.Medium {
					font-size: 2.5em;
					font-weight: bolder;
					color: #eaff00;
				}
				&>.Path {
					display: inline-block;
					color: var(--linkColor);
					font-size: 2em;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}

// 00FFC0
// #ff0048;
// #d4ff61
