


div.EventList {
	position: relative;
	color: white;
	padding: 0px 3em;
	padding-top: 3em;
	// overflow-x: hidden;
	// background: linear-gradient(#1d2420, #191b1a 8px);

	// &>.Background {
	// 	position: absolute;
	// 	top: 0px;
	// 	left: 0px;
	// 	width: 100%;
	// 	height: 100%;
	// 	// bottom: 0px;

	// 	&>.Sticky {
	// 		position: sticky;
	// 		top: 0px;
	// 		left: 0px;
	// 		width: 100vw;
	// 		height: 100vh;

	// 		&>* {
	// 			position: absolute;
	// 			top: 0px;
	// 			left: 0px;
	// 			width: 100%;
	// 			height: 100%;
	// 		}

	// 		&>.Hex {
	// 			background: url("/assets/img/raw/repeating-hex-horizontal.png");
	// 			background-size: 2em;
	// 			filter: invert(1);
	// 			opacity: 0.07;
	// 		}

	// 		&>.Forest {
	// 			background: url("/assets/img/raw/casey-horner-forest-galaxy.jpg");
	// 			background-size: cover;
	// 			background-position: top center;
	// 			// filter: blur(10px);
	// 			opacity: 0.25;
	// 		}
	// 	}


	// }

	&>.Foreground {
		position: relative;
		z-index: 1;

		&>.LifeEvent {
			// background: linear-gradient(#282825, #212120 8px);
			background: linear-gradient(#282825, #212120d1 8px);
			box-shadow: 0px 0px 5px rgb(14, 14, 14);
			margin: 3em 0px;
			padding: 1em;
			border-radius: 0.5em;
			// margin-right: auto;
			// width: fit-content;
			width: 100%;
			max-width: 60em;

			&:first-child {
				margin-top: 0px;
			}

			&>.Images {
				display: grid;
				grid-template-columns: 50% 50%;
				grid-template-rows: auto auto;
				width: 100%;

				&.singleColumn {
					grid-template-columns: 100%;
					max-width: 50em;
					margin: auto;
				}
				&.centerThird > a:nth-child(3) {
					transform: translateX(50%);
				}

				&>a {
					cursor: zoom-in;
					position: relative;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					border-radius: 1em;
					margin: 0.33em;
					box-shadow: inset 1px 1px 15px black, inset 2px 2px 7px #0000005c;
					border: 1px solid #252525;
					border-color: #252525 #373636 #373636 #252525;
					background-color: #0f1314;

					&.contain {
						background-size: contain;
					}

					&>img {
						visibility: hidden;
						width: 100%;
						max-height: 30em;
					}

					// &:nth-child(1) {
					// 	top: 1em;
					// }

					// &:nth-child(2) {
					// 	right: 1em;

					// }

					// &:nth-child(3) {
					// 	left: 1em;

					// }

					// &:nth-child(4) {
					// 	bottom: 1em;
					// }
				}

			}

			&>.Title {
				font-weight: bolder;
				font-size: 2em;
				color: #de4f88;
			}

			&>.ShortDesc {
				font-size: 1.25em;
			}

			&>.Skills {
				opacity: 0.5;
			}

			&>.Tags {
				display: flex;
				&>.Tag {
					border: 1px solid grey;
					padding: 0.125em .5em;
					margin: 0px .25em;
					border-radius: 0.25em;

					&:first-child{
						margin-left: 0px;
					}
				}
			}
		}
	}
}
