div.Header {
	position: relative;
	// min-height: 500px;
	height: 60vh;
	display: flex;
	flex-direction: column;

	&>.Divider {
		box-sizing: content-box;
		height: 8px;
		// margin-bottom: 40px;
		border-top: 8px solid black;
		border-bottom: 8px solid black;
		background-image: repeating-linear-gradient(to right, #C82C4D, #FFA960, #F9D7BB, #133A5D, #456FFF, #C82C4D, #FFA960);
		background-size: 600vw auto;
		animation: 30s steps(200) infinite slide-background;

		&.reverse {
			background-image: repeating-linear-gradient(to left, #C82C4D, #FFA960, #F9D7BB, #133A5D, #456FFF, #C82C4D, #FFA960);
			// border-bottom-width: 1.25em;
		}

		@keyframes slide-background {
			0% { background-position: 0% 0%; }
			100% { background-position: 100% 0%; }
		}
	}

	&>.MainArea {
		position: relative;
		flex-grow: 1;
		background: linear-gradient(to top, #28213a, black);
		// background: black;

		&>.Foreground {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 3;

			color: white;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			&>.Name {
				display: flex;
				align-items: center;
				font-size: 4em;
				filter: drop-shadow(0px 0px 20px black);

				div {
					margin: 0px 0.25em;
				}

				animation: glow;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-duration: 10s;
				animation-timing-function: steps(100);

				@keyframes glow {
					0% { filter: drop-shadow(0px 0px 5px rgba(169, 208, 226, 0.4)) drop-shadow(0px 0px 10px rgba(169, 208, 226, 0.4)); }
					100% { filter: drop-shadow(0px 0px 5px rgb(28, 112, 151)) drop-shadow(0px 0px 10px rgb(28, 112, 151)); }
				}
			}
		}
		&>.Background {
			// background-color: black;
			background-image: url("/assets/img/raw/milky_way.png");
			background-size: cover;
			background-position: center center;
			height: 100%;

			&>.StarsAnimation {
				height: 100%;
			}
			&>.Fog {
				// background: linear-gradient(to top, #040608, transparent);
				// background: linear-gradient(to top, #14221f, transparent);
				background: linear-gradient(to top, #1d302c, transparent);
				opacity: 0.8;
			}
			&>.Tangents, &>.Fog {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
			&>.NearMountain, &>.Treeline, &>.Mountains {
				position: absolute;
				bottom: 0px;
				width: 100%;
			}
			&>.NearMountain {
				height: 55%;
				background-image: url("/assets/img/raw/Pine_hill_2.png");
				background-size: contain;
				background-position: bottom left;
				background-repeat: no-repeat;
			}
			&>.Treeline {
				height: 40%;
				background-image: url("/assets/img/raw/treeline.png");
				background-repeat: repeat-x;
				background-position: bottom;
				filter: invert(3%);
			}
			&>.Mountains {
				height: 31%;
				background-image: url("/assets/img/raw/meeker-mountain-range.png");
				background-size: auto 97%;
				background-position: left -13em bottom 1em;
				background-repeat: no-repeat;
				filter: invert(6%);
			}
		}
	}
}
