&>.Info {
	position: relative;
	padding: 25px;
	line-height: 25px;
	vertical-align: baseline;
	overflow: hidden;

	&>.CurfAugBorder {
		stroke: $timeline-stroke-color;
		fill: rgba(100, 100, 100, 0.3);
	}

	&>.PermalinkTarget {
		position: absolute;
		top: -75px;
		left: 0px;
		pointer-events: none;
	}

	&>.Title {
		position: relative;
		font-size: 35px;
		line-height: 50px;

		&>.Permalink {
			display: inline-block;
			visibility: hidden;
			pointer-events: none;
			color: #36807a;
			text-decoration: none;
			padding-left: 12.5px;
			&:hover { color: white; }
		}

		&:hover>.Permalink {
			visibility: visible;
			pointer-events: auto;
		}
	}

	&>.Tags {
		position: relative;
		text-align: right;
		line-height: 50px;
		&>.Tag {
			color: #36807a;
			display: inline-block;
			font-size: 12px;
			border: 1px solid currentColor;
			line-height: 21px;
			text-decoration: none;
			padding: 0px 4px;
			border-radius: 50px;
			margin-right: 5px;
			min-width: 35px;
			text-align: center;

			&.featured { color: #b79126; }
			&:hover { color: white; }
		}
	}

	&>.Desc {
		position: relative;
		font-size: 18px;
		font-weight: 300;
		color: #DDD;

		.--bordered {
			border: 1px solid #5E6E6C;
			border-radius: 2px;
		}
		.--add_bg_mid { background: #5E6E6C; }
		.--add_bg_light { background: #FFF; }
		.--thin_portrait { max-width: 300px; }
		.--shorten { max-height: 400px;}
		img { max-width: 100%; }
		p { 
			position: relative; top: 4px; 
			// text-indent: 25px; 
			margin: 0px;  padding: 0px; 
			& > strong:first-child {
				color: #988175; 
			}
		}
		hr { margin: 24.5px 0px; border: none; background: #5E6E6C; height: 1px; }
		ul { margin-top: 0px;  margin-bottom: 0px; padding-left: 25px;}

		table.table_variant_horizontal_lines {
			margin: 25px;
			border-spacing: 0px;
    	border-collapse: separate;
    	th, td {
    		position: relative;
    		padding: 0px;
    		text-align: left;
    		vertical-align: top;
    		&:not(:last-child) { padding-right: 25px; }
    	}

    	th, tr:not(:last-child) td {
    		padding-bottom: 25px;
    		&::after {
    			display: block;
    			position: absolute;
    			content: "";
    			bottom: 12px;
    			width: 100%;
    			height: 1px;
    		}
    	}
    	th::after { background-color: #36807a; }
    	td::after { background-color: #5E6E6C; }
		}

		&>.TwoColLayout {
			display: flex;
			&>.LeftCol {
				max-width: 450px;
				flex-basis: 50%;
				flex-grow: 1;
				flex-shrink: 0;
				text-align: center;

				a {
					display: block;
					margin: 50px 0px;
					&:first-child { margin-top: 0px; }
				}
			}
			&>.RightCol {
				padding-left: 25px;
				flex: 1;
			}
		}

		& .Links {
			padding-left: 25px; 
			position: relative;
			top: 4px;

			a { 
				position: relative; 
				padding-left: 25px;
				// margin-left: 25px;
				// text-decoration: none;
				text-decoration-color: #666;

				&:hover { color: #b79126; }
				&:active { opacity: 0.7; }
			}
			a::before {
				display: block;
				position: absolute;
				content: "➤";
				width: 25px;
				text-align: center;
				left: 0px;
				top: 0px;
			}
		}

		@media (max-width: 1300px) {
  		&>.TwoColLayout {
  			&>.LeftCol { max-width: 300px }
  		}
		}

		@media (max-width: 1150px) {
  		&>.TwoColLayout {
  			flex-direction: column;
  			&>.LeftCol { 
  				max-width: 100%; 
  				&>a { 
  					display: inline-block;
  					max-width: calc(50% - 25px); 
  					vertical-align: top;
  					margin: 12.5px !important;

  				}
  			}
  			
  		}
		}

		@media (max-width: 800px) {
			&>.TwoColLayout {
				&>.RightCol { 
  				padding-left: 0px; 
  			}
  		}
  		table.table_variant_horizontal_lines {
  			margin: 25px 12.5px !important;
  		}
		}
	}
}










