div.GlowingThumbzSymbol{
	position: relative;
	min-height: 2em;
	min-width: 1em;

	&>svg {
		position: absolute;
		fill: none;
		stroke-width: 5px;
		top: 0px;
		left: 0px;
		height: 100%;

		&.logo-fg {
			stroke: white;
		}

		&.logo-bg-1, &.logo-bg-2 {
			animation: pulse-opacity;
			animation-timing-function: steps(100);
			animation-duration: 8s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}

		&.logo-bg-1 {
			stroke: rgba(255, 174, 0, 0.705);
			filter: blur(10px);
		}

		&.logo-bg-2 {
			animation-direction: alternate-reverse;
			stroke: #008cffa4;
			filter: blur(10px);
		}

		@keyframes pulse-opacity {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}
	}
}
