.--clip_parallelogram_pos {
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.--clip_parallelogram_neg {
	clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.--clip_curf_ne_sw {
	clip-path: polygon(
		0% 0%, 
		calc(100% - 25px) 0%, 100% 25px, 
		100% 100%, 
		25px 100%, 0% calc(100% - 25px)
	);
}

.--clip_curf_nw_se {
	clip-path: polygon(
		0% 25px, 25px 0%,
		100% 0%,
		100% calc(100% - 25px), calc(100% - 25px) 100%,
		0% 100%,
	);
}

.--clip_curf_se {
	clip-path: polygon(
		0% 0%,
		100% 0%,
		100% calc(100% - 25px), calc(100% - 25px) 100%,
		0% 100%,
	);
}

.--clip_curf_sw {
	clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 100%, 
		25px 100%, 0% calc(100% - 25px)
	);
}

.--clip_curf_all_med {
	clip-path: polygon(
		0% 25px, 25px 0%, 
		calc(100% - 25px) 0%, 100% 25px, 
		100% calc(100% - 25px), calc(100% - 25px) 100%,
		25px 100%, 0% calc(100% - 25px));
}

.--clip_curf_all_sm {
	clip-path: polygon(
		0% 12.5px, 12.5px 0%, 
		calc(100% - 12.5px) 0%, 100% 12.5px, 
		100% calc(100% - 12.5px), calc(100% - 12.5px) 100%,
		12.5px 100%, 0% calc(100% - 12.5px));
}