.Contact {
	min-height: 100vh;

	&>.ContactTitle {
		height: 100px;
		background: var(--contactTitleBg);
		font-size: 50px;
		padding: 25px;
		color: black;
	}

	&>.Connections {
		padding: 25px 25px 150px;
		&>.Connection {
			display: flex;
			align-items: center;
			overflow: hidden;

			&>svg {
				flex-basis: 100px;
				flex-grow: 0;
				flex-shrink: 0;
				stroke: white;
				stroke-width: 1px;
				vector-effect: "non-scaling-stroke";
				margin: 25px;
			}
			&>.Info {
				position: relative;
				overflow: hidden;
				&>.Medium { font-size: 40px; }
				&>.Path {
					display: inline-block;
					color: var(--linkColor);
					font-size: 30px;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

// 00FFC0
// #ff0048;
// #d4ff61
